@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('./resources/fonts/metropolis.css');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@500;700&display=swap');

@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-weight: 500;
  background: linear-gradient(to right top, #619BE8, #69C7C7);
  color: #333;
  width: 100vw;
  height: 100vh;
  padding: 0;
  padding: 0;
  text-align: center;
  font-family: 'Metropolis', 'Noto Sans KR', '나눔바른고딕', arial;
  letter-spacing: -1px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

#loadingContainer {
  background-color: #fff;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.hide {
  transition-duration: .5s;
  opacity: 0 !important;
}

#asdfLogo {
  min-width: 15vh;
  width: 8vw;
}

#airplaneContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1em;
  bottom: 1em;
}

#airplane {
  min-width: 5vh;
  margin-bottom: 0vh;
  width: 3vw;
  animation: boing infinite 2s;
}

@keyframes boing {
  0% {
    margin-bottom: 0.5vh;
  }
  50% {
    margin-bottom: 1.5vh;
  }
  100% {
    margin-bottom: 0.5vh;
  }
}

#ground {
  min-width: 5vh;
  width: 3vw;
}

#welcomeContainer {
  transition-duration: 1s;
  background-color: #fff;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.welcome {
  opacity: 0;
  margin-top: 10vh;
  color: #35558A;
  transition-duration: 1s;
}

#welcome1.fadeIn {
  opacity: 1 !important;
  margin-top: 0vh !important;
}

#welcome1.fadeOut {
  opacity: 1 !important;
  margin-top: 30vh !important;
}

#welcome1 {
  font-size: 3.5vh;
  font-weight: 700;
}

#welcome2 {
  margin-top: 0vh;
  font-size: 2vh;
  font-weight: 500;
}

#welcome2.fadeIn {
  opacity: 1 !important;
}

#welcome2.fadeOut {
  opacity: 1 !important;
}

#welcomeContainer.fadeOut {
  opacity: 0 !important;
  height: 0vh !important;
}

.mainContainer {
  display: flex;
  background-color: white;
  width: 100vw;
  height: 8vh;
}

#top {
  align-items: center;
  justify-content: center;
}

#topText {
  margin-top: 3px;
  font-size: 2.2vh;
  color: #35558A;
  margin-left: 1vw;
}

.strong {
  font-weight: 800;
}

#bottom {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.bottomDivide {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}

#bottomLeft {
  align-items: center;
  justify-content: flex-start;
}

#bottomRight {
  font-size: 2vh;
  color: #35558A;
  letter-spacing: 0.3vw;
  align-items: center;
  justify-content: flex-end;
}

#bottomText {
  margin-top: 3px;
}

#bottomLine {
  background-color: #35558A;
  height: 1px;
  width: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

#firstIcon {
  margin-left: 1vw;
}

.icon {
  min-width: 3vh;
  cursor: pointer;
  margin-left: 0.5vw;
  width: 1.5vw;
}

#centerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 84vh;
  width: 100vw;
  transition-duration: 1.5s;
  margin-left: 0vw;
}

#decorationContainer {
  transition-duration: 1.5s;
  opacity: 1;
}

.island {
  min-width: 8vh;
  width: 10vw;
  cursor: pointer;
  margin-left: 2vw;
  margin-right: 2vw;
  transition-duration: 1s;
}

.decoration {
  position: fixed;
}

#deco1 {
  min-width: 2em;
  width: 2vw;
  left: 10vw;
  top: 40vh;
}

#deco2 {
  min-width: 5em;
  width: 10vw;
  bottom: 20vh;
  left: 30vw;
}

#deco3 {
  min-width: 3em;
  right: 10vw;
  bottom: 20vh;
  width: 6vw;
}

#deco4 {
  min-width: 4em;
  top: 20vh;
  right: 10vw;
  width: 6vw;
}

#articleContainer {
  filter: drop-shadow(0 0 10px rgba(20, 20, 20, 0.2));
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100vw;
  transition-duration: 1.5s;
}

#articleContainer.show {
  left: 0vw;
}

#articleContents {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10vh;
  text-align: left;
  background-color: #fff;
  width: 65vw;
  height: 80vh;
}

#articleClose {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0 50% 50% 0;
  width: 5vh;
  height: 5vh;
  min-width: 2em;
  min-height: 2em;
}

#articleClose>img {
  margin-right: 0.5vw;
  width: 0.8vw;
}

#articleTitle {
  font-family: 'Metropolis', 'Noto Sans KR', '나눔바른고딕';
  font-weight: 700;
  font-size: 7vh;
  color: #000;
}

#articleSubtitle {
  font-family: 'Metropolis', 'Noto Sans KR', '나눔바른고딕';
  font-weight: 500;
  font-size: 3vh;
  color: #999;
}

#articleContentContainer {
  margin-top: 10vh;
  font-weight: 400;
  font-size: 2.5vh;
  color: #222;
}

.hideOnArticle {
  transition-duration: 1s;
  opacity: 1;
}

#centerContainer.A {
  margin-left: 59vw;
}

#centerContainer.S {
  margin-left: 45vw;
}

#centerContainer.D {
  margin-left: 31vw;
}

#centerContainer.F {
  margin-left: 17vw;
}

#closeBtn {
  max-width: 1.5em;
  min-width: 1em;
  width: 5vw;
}

#articleTitleContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#islandA {
  animation: landA;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes landA {
  0% {
    padding: 0vh 0vw 0vh 0vw;
  }
  10% {
    padding: 1vh 1vw 0vh 0vw;
  }
  25% {
    padding: 1vh 0vw 1vh 0vw;
  }
  40% {
    padding: 0vh 0vw 1vh 1vw;
  }
  60% {
    padding: 0vh 1vw 0vh 1vw;
  }
  80% {
    padding: 1vh 1vw -1vh 1vw;
  }
  100% {
    padding: 0vh 0vw 0vh 0vw;
  }
}

#islandS {
  animation: landS;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

@keyframes landS {
  0% {
    padding: 1vh 0vw 1vh 0vw;
  }
  15% {
    padding: 1vh 1vw 0vh 0vw;
  }
  35% {
    padding: 0vh 0vw 1vh 1vw;
  }
  55% {
    padding: 1vh 1vw -1vh 1vw;
  }
  85% {
    padding: 0vh 1vw 0vh 1vw;
  }
  100% {
    padding: 1vh 0vw 1vh 0vw;
  }
}

#islandD {
  animation: landD;
  animation-duration: 14s;
  animation-iteration-count: infinite;
}

@keyframes landD {
  0% {
    padding: 0vh 0vw 1vh 1vw;
  }
  15% {
    padding: 1vh 1vw 0vh 0vw;
  }
  30% {
    padding: 0vh 0vw -1vh 0vw;
  }
  45% {
    padding: 1vh 0vw 1vh 0vw;
  }
  85% {
    padding: 0vh -1vw 0vh 1vw;
  }
  100% {
    padding: 0vh 0vw 1vh 1vw;
  }
}

#islandF {
  animation: landF;
  animation-duration: 17s;
  animation-iteration-count: infinite;
}

@keyframes landF {
  0% {
    padding: 0vh 0vw 0vh 0vw;
  }
  15% {
    padding: 1vh 1vw 0vh 0vw;
  }
  20% {
    padding: 1vh 0vw 1vh 0vw;
  }
  50% {
    padding: 0vh 0vw 1vh 1vw;
  }
  70% {
    padding: 1vh 1vw -1vh 1vw;
  }
  100% {
    padding: 0vh 0vw 0vh 0vw;
  }
}

.articleDecoration {
  display: none;
  transition-duration: 1.5s;
  align-items: center;
  border-radius: 0.5em;
  height: 5vh;
  margin-bottom: 3vh;
}

#articleADeco {
  width: calc(100% - 1em);
  flex-direction: row;
  padding-left: 1em;
  background: #333;
  color: #fff;
  font-size: 3vh;
}

#articleSDeco {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'NeoDunggeunmo';
  letter-spacing: 3px;
  font-size: 3vh;
  width: 100%;
  flex-direction: row;
  background-image: url('./resources/images/board.png');
  background-repeat: repeat;
}

#articleDDeco {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 1em;
  background: linear-gradient(to right top, #62afee, #4fcedf);
}

#airplaneSvg {
  height: 100%;
}

#articleContent {
  line-height: 180%;
}

#boardText {
  transition-timing-function: linear;
  white-space: nowrap;
  color: #00eeff;
}

#articleDeco {
  display: none !important;
}

#articleFDeco {
  width: 100%;
  flex-direction: row;
  background-image: url('./resources/images/nyan-cat-background.gif');
  background-repeat: repeat;
}

#nyanCatLeft {
  height: 70%;
}

.hightLightBlue {
  background: #DDEBF1;
}

.hightLightGreen {
  background: #e1f7e2;
}

.hightLightYellow {
  background: #fffad2;
}

.hightLightRed {
  background: #ffdcdc;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 4vh;
}

.imageInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 90%;
}

.imageDescription {
  width: 100%;
  text-align: center;
  font-size: 2vh;
}

.grayText {
  color: #999;
}

.image {
  filter: drop-shadow(0 0 10px rgba(50, 50, 50, 0.1));
  border: 1px solid #ddd;
}

.image1 {
  width: 48%;
}

.image2 {
  width: 100%;
}

h2 {
  text-align: center;
}

hr {
  margin-top: 5vh;
  border: none;
  border-top: 1px solid #bbb;
}

#animContainer {
  mix-blend-mode: color-burn;
  opacity: 0.1;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
}

#cacheContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}